.container{
    padding: 20px;
    cursor: pointer;
    background-color: #dc5656;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
    opacity: 0.9;
  }
  
.container:hover{
    opacity: 1;
  }