.container{
  font-size: 72px;
}

.title{
  background: linear-gradient(to bottom, #194c33, #bbb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

