.container{
  font-size: 72px;
}

.title{
  background: linear-gradient(to bottom, #e62b2b, #ded1d1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

