.container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.img{
    object-fit: cover;
    border: 3px solid #dc5656;
    border-radius: 15px;
}

.title{
    margin-bottom: 10px;
}

.desc{
    font-size: 18px;
    color: #999;
}